* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.header__bigTitle {
  width: 100vw;
  height: auto;
  padding: 20px 0px;
  text-align: center;
  font-size: 1.5em;
  color: rgba(150, 0, 0, 1);
  background-color: rgba(255, 200, 200, 1);
}

.main {
  width: 100vw;
  height: auto;
  text-align: center;
  padding: 20px 0px;
}

.main__boxInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#main__inputID {
  height: 30px;
  width: 100px;
  text-align: center;
}

.main__button {
  padding: 3px 7px;
}

.main__button:hover {
  cursor: pointer;
}

.main__containerBoxIndicator {
  width: 350px;
  height: 20px;
}

.main__boxIndicator {
  width: 350px;
  height: 20px;
  border: 1px solid rgba(150, 0, 0, 1);
  border-radius: 5px;
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2px;
  position: relative;
}

#main__indicator {
  width: 0px;
  height: 14px;
  background-color: rgba(255, 200, 200, 1);
  border-radius: 4px;
  position: absolute;
}

@keyframes showIndicator {
  from {
    width: 0px;
  }
  to {
    width: 344px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 16px;
  }

  .main__containerBoxIndicator {
    width: calc(100vw - 28px);
    height: 20px;
  }

  .main__boxIndicator {
    width: calc(100vw - 28px);
  }

  @keyframes showIndicator {
    from {
      width: 0px;
    }
    to {
      width: calc(100vw - 34px);
    }
  }

  .main__result {
    width: calc(100vw - 28px);
  }
}
